<?xml version="1.8" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="набор тестов">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>